@model WebCode01.ViewModels.AddFileViewModel
@using (Html.BeginForm(null, null, FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div>
        @Html.HiddenFor(x => x.projectId, new { @id = "hidden-projectId" })
        @Html.TextBoxFor(x => x.file, new { type = "file" })
    </div>

    <input type="submit" value="Add File" class="btn btn-primary"/>
}
@section scripts
{
    <script>
        var id = '@Html.Raw(@ViewBag.projectId)';
        $("form").submit(function () {
            $("#hidden-projectId").val(id);
        });
    </script>
}

