@model IEnumerable<WebCode01.ViewModels.ProjectListViewModel>

@{
    ViewBag.Title = "DeletProject";
}

<h2>DeletProject</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.name)
        </td>
        <td>
            @Html.ActionLink("Delete", "ComfirmDelete", "ProjectFiles" , new {projectId = @item.id}, null)
        </td>
    </tr>
}

</table>
